:root{
  --spice-card: transparent !important;
  --spice-main-transition: none !important;
  --spice-sidebar: none !important;
  --spice-main: none !important;
  --background-noise: transparent !important;
  --background-press: #FFFFFF !important;
  --spice-button-active: #FFFFFF !important;
  --spice-button: #FFFFFF !important;
  --encore-overlay-box-shadow: 0 0px 0px !important;
  --encore-icon-fill: #FFFFFF !important;
}
.main-contextMenu-menu,
.main-contextMenu-menuItem,
.main-dropDown-dropDownMenu,
.tippy-box,
.tippy-content,
[role="menu"],
[data-tippy-root],
#context-menu,
.main-type-tooltip{
  background: var(--background-elevated-base) !important;
  border-radius: 8px !important;
}
.main-trackList-trackListHeader{
  position: static !important;
  background: transparent !important;
}
.main-topBar-topbarContentRight:not(.link-subtle),
.main-globalNav-contentRightSpacer{
  width: 4px !important;
}
.zyugqDUpsiWa8v7oczU1{
  position: static !important;
  background: none !important;
}
.N8txqqpJDIs_ueBeNFtb,
.f5PeZZUBAlXJ_yUvOQ63,
.rzJHb_Q4kE2_d81P1hHQ{
 height:104% !important;
 width: 104% !important;
 --background-base: transparent !important;
 --background-press: transparent !important;
 --background-elevated-base: transparent !important;
 --background-tinted-base: transparent !important;
}
.e13C6QTs_jSfsrn_Vkkq{
  width: 4px!important;
}
.e-10860-overflow-wrap-anywhere{
  --background-highlight: transparent !important;
  --background-press: transparent !important;
  --spice-button-active: transparent !important;
  --background-elevated-base: transparent !important;
  --background-elevated-highlight: transparent !important;
  --background-elevated-press: transparent !important;
  --background-base: transparent !important;
}
.main-nowPlayingBar-container button[aria-label="Play"] svg,
.main-nowPlayingBar-container button[aria-label="Pause"] svg,
.main-nowPlayingBar-container .main-playPauseButton-button svg{
  fill: var(--encore-icon-fill,currentColor) !important;
}
.SZZaGSgPlvbMy6EmCYPy,
.IA4iGG9XYovF8ZeEsq8A,
.b2Yn_b_y4_oqj7M_5AP0,
.skbiXj4RSA0QAr5xDn9P,
.ZgbY_MBmIJxtXjdi0KYA,
.kmo_ZUsxXMkrPrJGwR5V,
.main-entityHeader-backgroundColor,
.main-actionBarBackground-background,
.main-home-homeHeader,
.playlist-playlist-actionBarBackground-background,
.aFTT7HhSi7nKw___DYTw,
.e1NRR9_lRgRwafa1esSw,
.dqwQhIudKoD98eWJzj5E,
.kMUtWcOMOZmCWTMAc_gu,
.M7ECcaA17LC8UqL2GKVD,
.main-actionBarBackground-background,
.main-entityHeader-topbarContent,
.kMUtWcOMOZmCWTMAc_gu ELsCw_Koqs_Q2dLHtg7z,
.main-topBar-background,
.main-globalNav-historyButtonsSpacer,
.kflHPd1wGLg8GjJjmpc6{
  display: none !important;
}
.NG0KBybUCTo8_SxXHF3N{
  --background-base: var(--background-elevated-base) !important;
  border-radius: 12px !important;
}
.XigLZTcvt6fiLkosJfYh,
.miQxkQPT6ObnldFON6FU,
.e-10860-overflow-wrap-anywhere,
.zyugqDUpsiWa8v7oczU1{
  box-shadow: 0 0px 0px !important;
}
.d7rHODV83neFiPSeUqDB:after{
  background-image: none !important;
}
.main-topBar-container{
  margin-left: 6% !important;
  width: 88% !important;
  margin-top: 2px !important;
}
.zyugqDUpsiWa8v7oczU1,
.CpEaNOB66nFcZNUZA2wg{
  border-top: none !important;
  border-bottom: none !important;
}
.YQ0uPtmHEvHsS8MszwpG{
  filter: saturate(0%) !important;
}
.marketplace-header{
  position: relative !important;
}
.e-10860-legacy-button-primary{
 --encore-graphic-size-decorative-base: 48px !important;
}
#context-menu svg{
  overflow: visible !important;
}
.uCpbyRyKRYhEnUmXhDjT{
  --spice-highlight-elevated: transparent !important;
  background: transparent !important;
}
